.box,
.box2,
.box3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgb(225, 242, 247);
    border: 2px solid #000;
    box-Shadow: 10px 10px;
    padding: 20px;
}

.box {
    width: 1000px;
    max-width: 95%;
    max-height: 95%;
}

.box2,
.box3 {
    width: 500px;
}

.head {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px
}

.head img {
    width: 150px;
    height: 150px
}

.description {
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.description p {
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    .head {
        flex-direction: column;
    }

  
}

@media screen and (max-width: 359px) {
    .description p {
        font-size: 1.5vh;
    }
}



@media screen and (max-width: 233px) {
    .head img {
        width: 90%;
    }

   
}